<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header"><!--" mdl-layout--fixed-drawer"-->
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Dal2U</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Colored icon button -->
      <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored">
        <i class="material-icons">mood</i>
        MyMood
      </button>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <i class="material-icons">search</i>
        <a class="mdl-navigation__link" routerLink="/login" routerLinkActive="active">Login</a>
        <i class="material-icons">mood</i>
        <a routerLink="/signup" routerLinkActive="active" class="mdl-navigation__link" >SignUp</a>
        <i class="material-icons">person</i>
        <button (click)="logout()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
           <i class="material-icons">shopping_cart</i>Logout
        </button>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title"> 
        <a routerLink="/members" routerLinkActive="active" class="alc">Profile : <strong>{{displayName }}</strong></a>
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Home</a>
      <a routerLink="/cart" routerLinkActive="active" class="mdl-navigation__link" href="">Cart</a>
      <a class="mdl-navigation__link" href="">Order History</a>
      <a class="mdl-navigation__link" href="">Upcoming</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-layout mdl-js-layout mdl-color--grey-100">
        <main class="mdl-layout__content">
          <div class="mdl-grid">
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp" *ngFor="let item of cartList | async" >
              <figure class="mdl-card__media">
                <img src="{{item.image}}" alt="" />
              </figure>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">{{item.name }}</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>{{item.description }}</p>
                <a>&#8377;&nbsp;{{item.price }}</a>
              </div>
							<div class="mdl-card__actions mdl-card--border">
                <button (click)="clickShipid(item.ID,item.name, item.price, 1)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">shopping_cart</i>Add to Cart
                </button>
                <!--div class="mdl-layout-spacer"></div>
    	          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
					      <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button-->
	            </div>
			      </div>
          </div>
        </main>
	      <!--main class="mdl-layout__content">
		      <div class="mdl-grid">
			      <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
              <figure class="mdl-card__media">
                <img src="https://images-cdn.azureedge.net/azure/in-resources/827b177a-1eb2-468a-8f46-d934f87f2ac2/Images/ProductImages/Source/GRISOPR015858-2.jpg;width=300;height=381;scale=canvas;anchor=bottomcenter" alt="" />
              </figure>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Bombay Basmathi Rice</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>Quantity : 5Kg Bag</p>
                <p class="mdl-button--colored">$450</p>
              </div>
							<div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">shopping_cart</i>Add to Cart
                </button>
                <div class="mdl-layout-spacer"></div>
    	          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
					      <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
	            </div>
			      </div>			
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
              <figure class="mdl-card__media">
                <img src="https://images-cdn.azureedge.net/azure/in-resources/827b177a-1eb2-468a-8f46-d934f87f2ac2/Images/ProductImages/Source/GPUMOST0940065_optimized.jpg;width=300;height=381;scale=canvas;anchor=bottomcenter" alt="" />
              </figure>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Haldirams Moong Dal</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>Quantity : 1Kg</p>
                <p>$114.50</p>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">shopping_cart</i> Add to Cart
                </button>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
              </div>
            </div>
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
              <figure class="mdl-card__media">
                
                <img src="https://images-cdn.azureedge.net/azure/in-resources/827b177a-1eb2-468a-8f46-d934f87f2ac2/Images/ProductImages/Source/GRISOPR015858-2.jpg;width=300;height=381;scale=canvas;anchor=bottomcenter" alt="" />
              </figure>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Bombay Basmathi Rice</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>Quantity : 5Kg Bag</p>
                <p>$450</p>
              </div>
							<div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">shopping_cart</i>Add to Cart
                </button>
                <div class="mdl-layout-spacer"></div>
    	          <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
					      <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
	            </div>
			      </div>			
            <div class="mdl-card mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-shadow--2dp">
              <figure class="mdl-card__media">
             
                <img src="https://images-cdn.azureedge.net/azure/in-resources/827b177a-1eb2-468a-8f46-d934f87f2ac2/Images/ProductImages/Source/GPUMOST0940065_optimized.jpg;width=300;height=381;scale=canvas;anchor=bottomcenter" alt="" />
              </figure>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Haldirams Moong Dal</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <p>Quantity : 1Kg</p>
                <p>$114.50</p>
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">
                  <i class="material-icons">shopping_cart</i> Add to Cart
                </button>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">favorite</i></button>
                <button class="mdl-button mdl-button--icon mdl-button--colored"><i class="material-icons">share</i></button>
              </div>
            </div>
		      </div>
	      </main-->
      </div>
    </div>
  </main>
</div>




